<!DOCTYPE html>
<html>
  <head>
    <title>API Short URL Microservice</title>
    <meta name="description" content="Short URL Microservice">
    <link id="favicon" rel="icon" href="/bbx.svg" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet"> 
  </head>
  <body>
    <header>
      <h1>
        APIShort URL Microservice
      </h1>
    </header>
  
    <main >      
      <p>
        To use the API send an URL to https://bbx-url.glitch.me/api/new/url,
        you will get a response in json format, containing the short URL.       
      </p>
      <h4>
        Example
      </h4>
      <p><pre>
      https://bbx-url.glitch.me/api/new/http://www.example.com
      
      {
        original_url:	"http://www.example.com",
        short_url:	"NDk0NzU9XzQ3NTkx"
      }
</pre>
      </p>
 </main>  

    <footer>
      <div >
        <a href="/">HOME</a>
      </div>
      <div>
        Made by &nbsp;<a href="https://codepen.io/bbx"><img src="/bbx.svg" width="64" ></a>&nbsp;Follow me on&nbsp;<a href="https://codepen.io/bbx">codepen</a>
        </div>
    </footer>
 
    

  </body>
</html>
