<!DOCTYPE html>
<html>
  <head>
    <title>Short URL Microservice</title>
    <meta name="description" content="Short URL Microservice">
    <link id="favicon" rel="icon" href="/bbx.svg" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet"> 
  </head>
  <body>
    <header {% if anim %} class="animated bounce" {% endif %} >
      <h1>
        Short URL Microservice
      </h1>
    </header>
  
    <main >      
      <form id="frmshorten" action="/new/" method="get">
        <input type="url" id="url" name="url" placeholder="Enter an URL to be shortened: http://www.example.com/">
        <button type="submit" >
          Shorten your URL
        </button>
      </form>
 
      <section >
       
          {% if noresults %} This Short-URL was not found. Do you want to create a new one?  {% endif %} 
        
        {% if shorturl %}
         <div class="url">
       {% if exists %} <span class="alert">This URL already exists: </span>{% endif %}
  <div>     {{ longurl }}</div>
        <div  class="w100">
          <input type="text" id="shorturl" value="{{ shorturl }}"><button id="copy" >Copy To Clipboard</button>
           </div>
          
          
          </div>
{% endif %}
        
      </section>
 </main>  

    <footer>
      <div  {% if anim %} class="animated b#ounce" {% endif %} >
        <a href="/api">API</a>
      </div>
      <div>
        Made by &nbsp;<a href="https://codepen.io/bbx"><img src="/bbx.svg" width="64" ></a>&nbsp;Follow me on&nbsp;<a href="https://codepen.io/bbx">codepen</a>
        </div>
    </footer>
<script>
  document.getElementById("frmshorten").onsubmit = prevent;
  function prevent() {
    if (   document.getElementById("url").value==="")  { 
      alert("Impossible improbable hyperfield detected.");
      return false;}
  }
  
  document.getElementById("copy").onclick = cpClip;
  function cpClip() {
    document.getElementById("shorturl").select();
    document.execCommand("Copy");
    return false;
  } 
    </script>
    

  </body>
</html>
