/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

html {
  background: linear-gradient(to bottom, #000046,
#1cb5e0 );
 
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  font-family:  helvetica, arial, sans-serif;
 
  display:flex;
  flex-direction:column;
  align-items:center;  
  color:white;
  margin:0;
  height:100vmin;
}

h1 {
  font-family: "Bungee Shade";
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 0 grey;
}
h1:before{
content: "Short URL Microservice";
  position:absolute;
  transform:rotateX(180deg) translateY(-1em) scaleY(0.3);
  filter:blur(5px) drop-shadow(18px 8px 2px white) contrast(200%);
  
  
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}
main {
width:100%;
  height: 100%;
  display:flex;
  flex-direction:column;
  align-items:center;  
  justify-content:center;
}

form ,.url{
  margin-bottom: 25px;
  padding: 15px ;
  
  
  width: 100%;
  
  border-radius: 3px;
  display:flex;
  flex-direction:column;
  align-items:center;
  
}
.url {
  box-shadow: 0 0 1px 3px  #369,0  5px 1px  #000;
  background-color: #69c;
  align-items:center;

}
.w100 {width:100%}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  text-indent: 5px;
  width: 95%;
  height: 5vmin;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  transition: 1s;
}
input:hover {
  border: 1px solid grey;

}
button {
  font-size: 16px;
  padding:5px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
   
}

button:hover {
  background-color: dodgerblue;
  color:white;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  
  border-top: 1px solid lightgrey;
  display:flex;
 justify-content: space-around;
  align-items:center;
  height: 10vmin;
  width:95vw;
}
footer > div {display:flex;justify-content: space-between; }
footer > div > a {
  text-decoration:none;
  color: #222;
}

.alert {color:orange; font-weight:bold;text-shadow: 1px 1px 0 black;}

   .animated {
            animation-duration: 0.3s;
            animation-fill-mode: both;
        }

      

        @keyframes slideInLeft {
            from {
                transform: translate3d(-100%, 0, 0);
                visibility: visible;
            }
            to {
                transform: translate3d(0, 0, 0);
            }
        }

        .slideInLeft {
            animation-name: slideInLeft;
        }

        

       
       
        @keyframes bounce {
            from,
            20%,
            53%,
            80%,
            to {
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transform: translate3d(0, 0, 0);
            }

            40%,
            43% {
                animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                transform: translate3d(0, -30px, 0);
            }

            70% {
                animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                transform: translate3d(0, -15px, 0);
            }

            90% {
                transform: translate3d(0, -4px, 0);
            }
        }

        .bounce {
            animation-name: bounce;
            transform-origin: center bottom;
        }